@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


$primary: #1f2d23 !default;
$light: #76877c !default;
$info: #fff !default;
$secondary: #f8b424 !default;


$font-family-sans-serif: "Source Sans Pro", "Hevetica Neue", arial, sans-serif !default;
$link-color: $light !default;


$console-background:  #2d0922 !default;
$console-color:  #fff !default;

$pre-background: #f5f5f5 !default;
$pre-color: #333 !default;

$code-background: #f9f2f4 !default;
$code-color: #e83e8c !default;


$lead-font-size: 1.75rem !default;
$lead-font-weight: 400 !default;

$display4-size: 2.75rem !default;
$display4-weight: 700 !default;
