$header-color: #1f2d23;
$top-shelf-background: #76877c;
$logo-yellow: #f8b424;

// Bootstrap overrides

$link-color: #fff;

$btn-default-color: #fff;
$btn-default-bg: $header-color;
$btn-default-border: #fff;

$navbar-height: 70px;
$navbar-margin-bottom: 0;
