@import 'scss/variables';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


body {
    position: relative;
}

pre {
    margin-bottom: 20px;
}


code {
    // Allow wrapping of code
    white-space: normal;
}

.nowrap {
    white-space: nowrap;
}

h1,
.page-header:first-child {
    margin-top: 0;
}

// Navbar

.pc-navbar-brand {
    padding: 13px 15px;
}

.logo {
    height: 44px;
    width: 44px;
    display: block;
    background: url('../logo.png');
}

.pc-navbar-collapse {
    @include box-shadow(none);
}

.pc-navbar .btn {
    margin: 18px 15px;
    padding: 6px 12px;
}


// Top shelf

.top-shelf {
    margin-bottom: 40px;
    background: $pc-green-light;
    color: white;

    .container {
        position: relative;
    }

    .pc-logo-top-shelf {
        float: right;
        margin: -30px 20px 0 40px;
    }

    h1 {
        font-weight: bold;
        margin: 40px 0 20px;

        a {
            color: $pc-yellow;

            &:hover {
                text-decoration: none;
            }
        }
    }

    p {
        margin-bottom: 10px;
        font-size: $font-size-h3;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .top-shelf h1 {
        font-size: $font-size-h2;
        margin-top: 20px;
    }
}


// Sidebar

.pc-sidenav.affix {
    top: 40px;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .pc-sidenav.affix {
        width: 158px;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .pc-sidenav.affix {
        width: 213px;
    }
}


@media (min-width: $screen-lg-min) {
    .pc-sidenav.affix {
        width: 263px;
    }
}


// Footer

.pc-footer {
    margin-top: 40px;
    background: $pc-green-dark;
    color: white;
    text-align: center;

    .container {
        padding: 40px;
    }

    a:hover {
        color: white;
    }
}

.page-hooks {
    .top-shelf {
        display: none;
    }

    .pc-main-content {
        margin-top: 30px;
    }
}

// vs.css: https://github.com/richleland/pygments-css
.highlight .hll { background-color: #ffc; }
.highlight .c { color: #008000; } /* Comment */
.highlight .err { border: 1px solid #ff0; } /* Error */
.highlight .k { color: #00f; } /* Keyword */
.highlight .cm { color: #008000; } /* Comment.Multiline */
.highlight .cp { color: #00f; } /* Comment.Preproc */
.highlight .c1 { color: #008000; } /* Comment.Single */
.highlight .cs { color: #008000; } /* Comment.Special */
.highlight .ge { font-style: italic; } /* Generic.Emph */
.highlight .gh { font-weight: bold; } /* Generic.Heading */
.highlight .gp { font-weight: bold; } /* Generic.Prompt */
.highlight .gs { font-weight: bold; } /* Generic.Strong */
.highlight .gu { font-weight: bold; } /* Generic.Subheading */
.highlight .kc { color: #00f; } /* Keyword.Constant */
.highlight .kd { color: #00f; } /* Keyword.Declaration */
.highlight .kn { color: #00f; } /* Keyword.Namespace */
.highlight .kp { color: #00f; } /* Keyword.Pseudo */
.highlight .kr { color: #00f; } /* Keyword.Reserved */
.highlight .kt { color: #2b91af; } /* Keyword.Type */
.highlight .s { color: #a31515; } /* Literal.String */
.highlight .nc { color: #2b91af; } /* Name.Class */
.highlight .ow { color: #00f; } /* Operator.Word */
.highlight .sb { color: #a31515; } /* Literal.String.Backtick */
.highlight .sc { color: #a31515; } /* Literal.String.Char */
.highlight .sd { color: #a31515; } /* Literal.String.Doc */
.highlight .s2 { color: #a31515; } /* Literal.String.Double */
.highlight .se { color: #a31515; } /* Literal.String.Escape */
.highlight .sh { color: #a31515; } /* Literal.String.Heredoc */
.highlight .si { color: #a31515; } /* Literal.String.Interpol */
.highlight .sx { color: #a31515; } /* Literal.String.Other */
.highlight .sr { color: #a31515; } /* Literal.String.Regex */
.highlight .s1 { color: #a31515; } /* Literal.String.Single */
.highlight .ss { color: #a31515; } /* Literal.String.Symbol */
// git diff highlights
.highlight .gi { color: #070; }
.highlight .gd { color: #911; }
