@import 'scss/variables';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


body {
    position: relative;
}

pre {
    margin-bottom: 20px;
}


code {
    // Allow wrapping of code
    white-space: normal;
}

.nowrap {
    white-space: nowrap;
}

h1,
.page-header:first-child {
    margin-top: 0;
}

// Navbar

.pc-navbar-brand {
    padding: 13px 15px;
}

.logo {
    height: 44px;
    width: 44px;
    display: block;
    background: url('../logo.png');
}

.pc-navbar-collapse {
    @include box-shadow(none);
}

.pc-navbar .btn {
    margin: 18px 15px;
    padding: 6px 12px;
}


// Top shelf

.top-shelf {
    margin-bottom: 40px;
    background: $pc-green-light;
    color: white;

    .container {
        position: relative;
    }

    .pc-logo-top-shelf {
        float: right;
        margin: -30px 20px 0 40px;
    }

    h1 {
        font-weight: bold;
        margin: 40px 0 20px;

        a {
            color: $pc-yellow;

            &:hover {
                text-decoration: none;
            }
        }
    }

    p {
        margin-bottom: 10px;
        font-size: $font-size-h3;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .top-shelf h1 {
        font-size: $font-size-h2;
        margin-top: 20px;
    }
}


// Sidebar

.pc-sidenav.affix {
    top: 40px;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .pc-sidenav.affix {
        width: 158px;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .pc-sidenav.affix {
        width: 213px;
    }
}


@media (min-width: $screen-lg-min) {
    .pc-sidenav.affix {
        width: 263px;
    }
}


// Footer

.pc-footer {
    margin-top: 40px;
    background: $pc-green-dark;
    color: white;
    text-align: center;

    .container {
        padding: 40px;
    }

    a:hover {
        color: white;
    }
}

.page-hooks {
    .top-shelf {
        display: none;
    }

    .pc-main-content {
        margin-top: 30px;
    }
}

// vs.css: https://github.com/richleland/pygments-css
.highlight.yaml,
.highlight.ini,
.highlight.bash {
    .hll { background-color: #ffc; }
    .c { color: #008000; } /* Comment */
    .err { border: 1px solid #ff0; } /* Error */
    .k { color: #00f; } /* Keyword */
    .cm { color: #008000; } /* Comment.Multiline */
    .cp { color: #00f; } /* Comment.Preproc */
    .c1 { color: #008000; } /* Comment.Single */
    .cs { color: #008000; } /* Comment.Special */
    .ge { font-style: italic; } /* Generic.Emph */
    .gh { font-weight: bold; } /* Generic.Heading */
    .gp { font-weight: bold; } /* Generic.Prompt */
    .gs { font-weight: bold; } /* Generic.Strong */
    .gu { font-weight: bold; } /* Generic.Subheading */
    .kc { color: #00f; } /* Keyword.Constant */
    .kd { color: #00f; } /* Keyword.Declaration */
    .kn { color: #00f; } /* Keyword.Namespace */
    .kp { color: #00f; } /* Keyword.Pseudo */
    .kr { color: #00f; } /* Keyword.Reserved */
    .kt { color: #2b91af; } /* Keyword.Type */
    .s { color: #a31515; } /* Literal.String */
    .nc { color: #2b91af; } /* Name.Class */
    .ow { color: #00f; } /* Operator.Word */
    .sb { color: #a31515; } /* Literal.String.Backtick */
    .sc { color: #a31515; } /* Literal.String.Char */
    .sd { color: #a31515; } /* Literal.String.Doc */
    .s2 { color: #a31515; } /* Literal.String.Double */
    .se { color: #a31515; } /* Literal.String.Escape */
    .sh { color: #a31515; } /* Literal.String.Heredoc */
    .si { color: #a31515; } /* Literal.String.Interpol */
    .sx { color: #a31515; } /* Literal.String.Other */
    .sr { color: #a31515; } /* Literal.String.Regex */
    .s1 { color: #a31515; } /* Literal.String.Single */
    .ss { color: #a31515; } /* Literal.String.Symbol */
    // git diff highlights
    .gi { color: #070; }
    .gd { color: #911; }
}

// pygments-pre-commit
.highlight.pre-commit,
.highlight.console {
    pre { border: 0; background-color: #2d0922; color: #fff; }

    // scss-lint:disable SelectorFormat
    .-Color-BGRed { background-color: #c00; }
    .-Color-BGGreen { background-color: #4e9a06; }
    .-Color-BlackBGYellow { background-color: #c4a000; color: #2e3436; }
    .-Color-BlackBGCyan { background-color: #06989a; color: #2e3436; }
}
