@import 'scss/variables';
@import 'bower_components/sass-bootstrap/lib/bootstrap';


body {
    position: relative;
}

pre {
    margin-bottom: 20px;
}

.nowrap {
    white-space: nowrap;
}

h1,
.page-header:first-child {
    margin-top: 0;
}

// Navbar

.pc-navbar-brand {
    padding: 13px 15px;
}

.logo {
    height: 44px;
    width: 44px;
    display: block;
    background: url('../logo.png');
}

.pc-navbar-collapse {
    @include box-shadow(none);
}

.pc-navbar .btn {
    margin: 18px 15px;
    padding: 6px 12px;
}


// Top shelf

.top-shelf {
    margin-bottom: 40px;
    background: $pc-green-light;
    color: white;

    .container {
        position: relative;
    }

    .pc-darwin {
        float: right;
        margin: -30px 20px 0 40px;
    }

    h1 {
        font-weight: bold;
        margin: 40px 0 20px;

        span {
            font-weight: normal;
        }

        a {
            color: $pc-yellow;

            &:hover {
                text-decoration: none;
            }
        }
    }

    p {
        margin-bottom: 10px;
        font-size: $font-size-h3;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .top-shelf h1 {
        font-size: $font-size-h2;
        margin-top: 20px;
    }
}


// Sidebar

.pc-sidenav.affix {
    top: 40px;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .pc-sidenav.affix {
        width: 158px;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .pc-sidenav.affix {
        width: 213px;
    }
}


@media (min-width: $screen-lg-min) {
    .pc-sidenav.affix {
        width: 263px;
    }
}


// Footer

.pc-footer {
    margin-top: 40px;
    background: $pc-green-dark;
    color: white;
    text-align: center;

    .container {
        padding: 40px;
    }

    a:hover {
        color: white;
    }
}

.page-hooks {
    .top-shelf {
        display: none;
    }

    .pc-main-content {
        margin-top: 30px;
    }
}
